body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: HoneyDew;
}
canvas {
    border: 1px solid black;
}
#title {
    font-size: 30px;
    font-family: Verdana;
    color: green;
    margin: 20px;
}
#score {
    font-size: 45px;
    font-family: Verdana;
    color: green;
    margin: 10px;
}
#gameCanvas {
    border: 1px solid black;
}